@using Humanizer
@model IEnumerable<Timeline>


<section class="bsb-timeline-7 bg-light py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-12 col-xl-10 col-xxl-9">
                <ul class="timeline">
                    @foreach(var t in Model)
                    {
                    <li class="timeline-item">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                                <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-md-end">
                                    <span class="fw-bold">@t.CreatedAt.ToString("yyyy-MM-dd")</span>
                                    <span>@t.CreatedAt.Humanize()</span>
                                </div>
                            </div>
                            <div class="timeline-content timeline-indicator">
                                <div class="card border-0 shadow">
                                    <div class="card-body p-xl-4">
                                        <h2 class="card-title mb-2">@t.Title</h2>
                                        @* <h6 class="card-subtitle text-secondary mb-3">@t.SubTitle</h6> *@
                                        <p class="card-text m-0"><div id="@t.TimeLineId.ToString().Replace("-",string.Empty)"></div></p>
                                        <p class="card-text m-0" style="color:#969696">@t.Notes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    }
                </ul>

            </div>
        </div>
    </div>
</section>
<script>
    Highcharts.setOptions({
        colors: ['#4ACB82', '#8EE6EF', '#FF40EA', '#7872C0', '#E92531', '#FFB900', '#969696', '#FF409B'], // Custom palette
    });

    $(document).ready(function() {
        $.get("/Timeline/Json", function(result){
            $.each(result, function (i, item) {
                var id = item.timeLineId.replaceAll("-","");

                Highcharts.chart(id, {
                    title: {
                        text: item.title,
                        align: 'left'
                    },

                    subtitle: {
                        text: 'By a.s.r. ARM Team.',
                        align: 'left'
                    },

                    yAxis: {
                        title: {
                            text: 'Value %'
                        }
                    },

                    xAxis: {
                        accessibility: {
                            rangeDescription: 'Range: 2010 to 2022'
                        },
                        categories: []
                    },

                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },

                    plotOptions: {
                        series: {
                            label: {
                                connectorAllowed: false
                            },
                            pointStart: 0
                        }
                    },

                    series: JSON.parse(item.series),

                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }
                });
            });
        });
    });

</script>