@model FinTracer.Models.FileTransfer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FileTransfer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceMd5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceMd5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetMd5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetMd5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastCopied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastCopied)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSelected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSelected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduledToCopy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduledToCopy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TransferId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
